<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>DR CROP</title>
</head>
<link rel="stylesheet" th:href="@{/css/NewUserForm.css}">

<body>
<div class="topnav">
    <img th:src="@{/images/logo.png}">
    <a href="#Support">Support</a>
    <a href="#AnalyzeNow">Analyze Now </a>
</div>
<h2>Create new Account</h2>

<form action="/accounts/new-user-form" method="post">
    <label for="email">Email : </label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="fname">First Name : </label>
    <input type="text" id="fname" name="fname" required>
    <br>
    <label for="mname">Middle Name : </label>
    <input type="text" id="mname" name="mname">
    <br>
    <label for="lname">Last Name : </label>
    <input type="text" id="lname" name="lname" required>
    <br>
    <label for="phone">Phone Number : </label>
    <input type="number" id="phone" name="phone" min="1000000000" max="9999999999" required>
    <br><br>
    <button type="submit">Create Account</button>
</form>

</body>
</html>
