body {
    font-family: 'Arial', sans-serif;
    background-color: #E8FFE3;
    color: #333;
    margin: 0;
    padding: 0px;
}

.topnav {
    background-color: #506959;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 10px;
}

.topnav img:first-child {
    height: 75px;
    margin-right: auto;
}

.topnav img:last-child {
    height: 75px;
}

.topnav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.3s;
}

.topnav a:hover {
    background-color: rgb(227, 236, 228);
    color: #4E6B40;
    border: 1px solid #4E6B40;
}

h1 {
    text-align: center;
    font-size: 28px;
    color: #2c6f2c;
}
.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    border: 2px solid #2c6f2c;
    text-align: left;
    margin: 0 auto;
    display: flex;

}
.card-img img {
    width: 400px;
    height: auto;
    border-radius: 8px;
    margin-left: 200px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.card-content{
    display: flex;
}