<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dr Crop Condition</title>
</head>
<body>

<div th:each="medicine : ${medicines}">
    <div>
        <img th:src="${medicine.imageUrl}" alt="medicine img" width="120" height="160" style="margin-right: 20px; border-radius: 8px;">
        <div>
            <h2 th:text="${medicine.medicineName}">Medicine Name</h2>
            <a th:href="${medicine.buyLink}">LINK</a>
        </div>
    </div>
</div>

<!--<div th:each="book : ${books}" class="book-card">-->
<!--    &lt;!&ndash; Make the entire book card clickable by wrapping in an <a> tag &ndash;&gt;-->
<!--    <a th:href="@{'/book-details/' + ${book.bookId}}" style="text-decoration: none; color: inherit; display: block;">-->
<!--        <div style="align-items: center;">-->
<!--            <img th:src="${book.bookCoverLink}" alt="Book Cover" width="120" height="160" style="margin-right: 20px; border-radius: 8px;">-->
<!--            <div>-->
<!--                <h2 th:text="${book.bookTitle}">Book Name</h2>-->
<!--                <p class="author"><strong>Author:</strong> <span th:text="${book.bookAuthor}">Author Name</span></p>-->
<!--                <p class="rating"><strong> ⭐ </strong> <span th:text="${book.bookRating}">[rating]</span></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </a>-->
<!--</div>-->

</body>
</html>